<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="catalogo-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Catálogo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6" size-lg="4" class="libro-card" *ngFor="let libro of libros">
        <ion-card>
          <div style="position: relative;">
            <ion-img [src]="libro.imagen" [alt]="'Imagen de ' + libro.titulo" class="zoom-img"></ion-img>
            <ion-button
              fill="solid"
              shape="round"
              size="small"
              class="icono-carrito"
              (click)="agregarAlCarrito(libro)"
              style="position: absolute; top: 12px; right: 12px; z-index: 10;">
              <ion-icon slot="icon-only" name="cart-outline" color="light"></ion-icon>
            </ion-button>
          </div>
          <ion-card-header>
            <ion-card-title>{{ libro.titulo }}</ion-card-title>
            <ion-card-subtitle>{{ libro.autor }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" fill="solid" color="tertiary" (click)="verLibro(libro)">
              <ion-icon name="eye" slot="start"></ion-icon>
              Ver más
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>