<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ofertas-content" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ofertas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6" size-lg="4" class="oferta-card" *ngFor="let libro of librosEnOferta">
        <ion-card>
          <div style="position: relative;">
            <ion-img [src]="'assets/img/' + libro.imagen" alt="Imagen de {{ libro.titulo }}" class="zoom-img"></ion-img>
            <ion-badge color="danger" style="position: absolute; top: 8px; left: 8px; z-index: 1;">
              💥 EN OFERTA
            </ion-badge>
            <ion-button
              fill="solid"
              shape="round"
              size="small"
              class="icono-carrito"
              (click)="agregarAlCarrito(libro)"
              style="position: absolute; top: 12px; right: 12px; z-index: 10;">
              <ion-icon slot="icon-only" name="cart-outline" color="light"></ion-icon>
            </ion-button>
          </div>
          <ion-card-header>
            <ion-card-title>{{ libro.titulo }}</ion-card-title>
            <ion-card-subtitle>{{ libro.autor }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ libro.descripcion }}</p>
            <p>
              <del>{{ libro.precio | currency:'CLP':'symbol':'1.0-0' }}</del><br>
              <strong style="color: #3880ff;">{{ libro.precioOferta | currency:'CLP':'symbol':'1.0-0' }}</strong>
            </p>
            <ion-button expand="block" fill="solid" color="tertiary" (click)="verLibro(libro)">
              <ion-icon name="eye" slot="start"></ion-icon>
              Ver más
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>