<ion-content [fullscreen]="true" class="home-content">
  <div class="banner-container">
    <img src="assets/img/banner-libros.jpg" alt="Bienvenido" class="banner-image" />
    <h2 class="banner-text">¡Bienvenido a DigitalBookStore!</h2>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="warning" routerLink="/catalogo">
          <ion-card-header>
            <ion-icon name="library-outline"></ion-icon>
            <ion-card-title>Catálogo</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="warning" routerLink="/ofertas">
          <ion-card-header>
            <ion-icon name="pricetags-outline"></ion-icon>
            <ion-card-title>Ofertas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card color="warning" routerLink="/carrito">
          <ion-card-header>
            <ion-icon name="cart-outline"></ion-icon>
            <ion-card-title>Carrito</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
